<section class="container">
  <div class="jumbotron elegant contact-layout">
    <h1>Contact us</h1>
    <p>gueshouse_name is located in Bukowina Tatrzanska - between Nowy Targ and Zakompane</p>
    <p>Addess: Rusinski Wierch XX, XX-XXX Bukowina Tatrzanska, Poland</p>
    <p>Arrival by bus - few local buses leaving from Krakow which can be reached by train, plane or bus</p>
    <p>Arrival by car - follow route nr 49 and turn right on the border between Bialka and Bukowina Tatrzanska (see the map for details) </p>
    <p>Free, guarded car parking is available for all our guests</p>
    <iframe class="map-embedded" frameborder="0" 
    style="border:0" src="https://www.google.com/maps/embed/v1/place?q=49%C2%B021'22.8%22N%2020%C2%B006'43.7%22E&key=AIzaSyAn0GNcrEFs6UbE_JCGfvNQB21S-B314bc" allowfullscreen></iframe> 
  </div>


</section>