<section class="container">
  <div class="jumbotron elegant">
    <h2>Check out our gallery!</h2>
    <h3>Rooms</h3>
    <h3>Facilities</h3>
    <h3>Activities</h3>
    <h3>Events</h3>
    <h3>Nature</h3>
  </div>
</section>