<% provide(:button_text, "Save changes") %>
<div class="container">
  <h1>Update or delete your profile</h1>

  <div class="row">
    <div class="col-xs-6 signup-form">
      <%= render 'form' %>
      <% unless current_user.admin? %>
        <%= link_to "Delete Account", 
                    @user, method: :delete,
                     data: { confirm: "Are you sure?" },
                    class: "btn btn-primary signup-button" %>
      <% end %>
    </div>
  </div>
</div>