<% provide(:button_text, "Save changes") %>
<div class="container">
  <h1>Update your profile</h1>

  <div class="row">
    <div class="col-xs-6 signup-form">
      <%= render 'form' %>
    </div>
  </div>
</div>