<section class="user-info container">
  <div class="jumbotron elegant">
    <h1>Reservation history</h1>
    <p>
      <%= @user.name %>, <%= @user.surname %>, 
      <%= @user.email %>, <%= @user.phone %> 
      <!-- add table with history here. In later versions add
      search mode to find for booking in specific time span -->
    </p>
  </div>
</section>