@import "bootstrap-sprockets";
@import "bootstrap";

/*----------------
mixins, colors etc.
----------------*/

$gray-base:    #000;
$gray-darker:  lighten($gray-base, 13.5%);
$gray-dark:    lighten($gray-base, 20%);
$gray-lighter: lighten($gray-base, 93.5%);
$gray-light:   lighten($gray-base, 46.7%);
$gray:         lighten($gray-base, 33.5%);


/*----------------
general
----------------*/

body {
  background-image: asset-url('tatra_bright.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #0fc;
}

.page-space {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}

.container .jumbotron {
  background-color: #fff;
  padding-left: 0px;
}

.jumbotron {
  padding-top: 0;
}

/*----------------
header
----------------*/
.header-layout {
  height: 140px;
}

.glyphicon-tent {
  padding-top: 15px;
  font-size: 60px;
  color: #fff;
}

.navbar {
  max-width: 1200px;
  margin: auto;
}

.navbar-lower {
  margin-top: 50px;
  background-color: #383232;
  border-color: #383232;
  height: 80px;
  .container {
    height: 80px;
    .nav, .navbar-nav {        
      .dropdown {
        height: 80px;
        .dropdown-toggle {
          height: 80px;
        }
      }
    }
  }
}

.middle-top-navbar {
  font-size: 16px;
  padding-top: 20px;
  vertical-align: middle;
}

.middle-top-navbar-2 {
  padding-top: 12px;
  font-size: 16px;
}

.separation-line {
  margin-top: 120px;
  margin-bottom: 20px;
}

/*----------------
footer
----------------*/

.footer-layout {
  padding: 20px 0;
  margin: auto;
  background-color: #383232;
  color: #fff;
}

.footer-list-style {
  padding: 0;
  list-style-type: none;
}

.footer-links a {
  color: $gray-light;
  font-size: 17px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.footer-links li {
  padding: 8px 0;
  border-top: 1px solid #fff;
  &:first-child {
    border-top: none;
  }
}

.endnote {
  border-top: 1px solid #5F5F5F;
  padding: 10px 20px;
}


/*----------------
carousel
----------------*/

#myCarousel {
  margin-bottom: 20px;
}

.carousel-inner {
  max-height: 350px;
  overflow: hidden;
}

/*----------------
home
----------------*/

#main-info {
  padding-left: 0;
  background-color: #fff;
}

/*----------------
contact
----------------*/

.contact-layout p {
  text-align: justify;
  padding-right: 400px;
  font-size: 18px;
}

.map-embedded {
  height: 450px;
  width: 1100px;
  margin: auto;
}
/*----------------
gallery
----------------*/

/* ############ icomoon icon fonts CSS ############ */

@font-face {
  font-family: 'icomoon';
  src:url('../icomoon/icomoon.eot?-qkv88o');
  src:url('../icomoon/icomoon.eot?#iefix-qkv88o') format('embedded-opentype'),
    url('../icomoon/icomoon.ttf?-qkv88o') format('truetype'),
    url('../icomoon/icomoon.woff?-qkv88o') format('woff'),
    url('../icomoon/icomoon.svg?-qkv88o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
  content: "\e600";
}
.icon-cancel-circle:before {
  content: "\e604";
}
.icon-cross:before {
  content: "\00D7";
}
.icon-arrow-left:before {
  content: "\E0B2";
}
.icon-arrow-right:before {
  content: "\E0B0";
}

/* ############ Start of responsive gallery CSS ############ */


div.rthumbnail{ /* style for thumbsnail DIVs that appear initially on the page */
  display: inline-block;
  margin: 0 0 5px 0;
  padding: 4px;
  border: 3px solid $gray;
}

div.rthumbnail div.rcaption{
  display: none;
}

div.responsivegallery{ /* style for responsive gallery UI */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 1040;
}

div.responsivegallery:before{ /* gallery overlay */
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: zoom-out;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.8;
  z-index: -1;
}

div.responsivegallery div.galleryinner{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

div.responsivegallery div.galleryinner:before{ /* technique to vertical align elements */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

div.responsivegallery div.figurearea{
  position: relative;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  z-index: 1040;
}

div.responsivegallery figure{
  margin: 0;
  padding: 0;
  display: block;
  box-shadow: 0 0 15px rgba(0,0,0,.6);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

div.responsivegallery figure img{
  max-width: 100%;
  height: auto;
  display: block;
}

div.responsivegallery figcaption{
  text-align: left;
  position: absolute;
  bottom: 0;
  font-size: 1.1em;
  padding: 5px;
  width: 100%;
  white-space: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.responsivegallery figcaption:before{ /* caption overlay */
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: white;
  top: 0;
  left: 0;
  opacity: 0.8;
}

div.responsivegallery figcaption div.captioninner{
  position: relative;
  padding: 3px;
  color: black;
}

div.responsivegallery figcaption div.captioninner span.counter{
  float: right;
  font-size: 0.9em;
  font-weight: bold;
  display: block;
  height: 100%;
  line-height: 100%;
  background: #2D2D2D;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 0 3px gray;
}

div.responsivegallery div.close{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  background: black;
  color: white;
  font-size: 35px;
  z-index: 1040;
  box-shadow: 0 0 5px rgba(0,0,0,.6);
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

div.responsivegallery div.close:hover{
  background: darkred;
}

div.responsivegallery div.close span{
  line-height: 43px;
}

div.responsivegallery div.leftnav,
div.responsivegallery div.rightnav{
  position: absolute;
  left: 5px;
  top: 50%;
  width: 50px;
  height: 50px;
  color: $gray-light;
  background: white;
  border-radius: 50px;
  text-align: center;
  line-height: 45px;
  margin-top: -25px;
  cursor: pointer;
  z-index: 1040;
  font-size: 20px;
  .icon-arrow-left {
    margin-left: -5px;
  }
  .icon-arrow-right {
    margin-right: -5px;
  }
}

div.responsivegallery div.rightnav{
  right: 5px;
  left:auto;
}


div.responsivegallery div.loadingdiv,
div.responsivegallery div.errordiv{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0.6;
  text-align: center;
  z-index: 1040;
  background: black;
}

div.responsivegallery div.loadingdiv span,
div.responsivegallery div.errordiv span{
  vertical-align: middle;
  color: red;
  font-size: 3em;
  line-height: 90px;
}

div.responsivegallery div.loadingdiv span{ /* rotating loading DIV */
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  font-size: 3.5em;
  color: white;
  display: inline-block;
}

@-webkit-keyframes rotate{
  0%{
    -webkit-transform: rotate(0deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate{
  0%{
      transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


div.responsivegallery div.leftnav:hover,
div.responsivegallery div.rightnav:hover{
  background: white;
  color: black;
}


@media screen and (max-width: 480px){ /* CSS when screen width is 480px or less */
  div.responsivegallery div.leftnav,
  div.responsivegallery div.rightnav{
    width: 40px;
    height: 40px;
    color: black;
    border-radius: 40px;
    text-align: center;
    line-height: 45px;
    margin-top: -20px;
    font-size: 40px;
  }
}